<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>NewCampus</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script defer src="{{ url_for('static', filename='js/main.js') }}"></script>
</head>
<body>

<div class="container">

      <header class="main-header">
         <h1>🎓 NewCampus</h1>
      </header>


    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="flash">
                {% for msg in messages %}
                    <p>{{ msg }}</p>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}

</div>

</body>
</html>
