{% extends "base.html" %}
{% block content %}

<div class="left-panel">
    <h2>WELCOME!</h2>
    <p>
        We're delighted to have you here.
        If you need any assistance, feel free to reach out.
    </p>
</div>

<div class="right-panel">

    <h2>Login</h2>

    <form method="POST" class="card">

        <div class="input-box">
            <input type="text" name="username" placeholder="Username" required>
            <span>👤</span>
        </div>

        <div class="input-box">
            <input type="password" name="password" placeholder="Password" required>
            <span>🔒</span>
        </div>

        <button>Login</button>

    </form>

    <div class="link-btn">
        Don't have an account?
        <a href="{{ url_for('register') }}">Sign up</a>
    </div>

</div>

{% endblock %}
